/* spacing on top */
.container {
    padding-top: 20px;
    font-family: 'Cutive Mono', monospace;
}

/* spacing for the white block that holds everything */
.d-block {
    margin-top: 15px;
    margin-bottom: 15px;
} 

/* add extra margins to the other pages */
.extraspace {
    margin: 0px 15px 15px 15px;
}

.the-outside {
    background-color: #0081c9;
    font-family: 'Cutive Mono', monospace;
}